extends layout

block content
  div(class='jumbotron')
    h2 Participants
    table.table
      td Name
      td Email
      td Avg books
      td Familiarity
      td English native?
      for user in users
        tr
        td= user.full_name
        td= user.email
        td= user.avg_books
        td= user.familiarity
        td= user.english == 1 ? "Yes" : "No"

    h2 Answers from participants
    table.table
      td Participant
      td Email
      td Answer 1
      td Answer 2
      for answer in answers 
        tr
        td= answer.user.full_name
        td= answer.user.email
        td= answer.answer1
        td= answer.answer2
        

