extends layout

block content
  div(class='jumbotron')
    h2 Participants
    table.table
      td Name
      td Email
      td Avg books
      td Familiarity
      td English native?
      for user in users
        tr
        td= user.full_name
        td= user.email
        td= user.avg_books
        td= user.familiarity
        td= user.english == 1 ? "Yes" : "No"

    h2 Answers from participants
    for answer in answers
      h4 Participant: #{answer.user.full_name} [#{answer.user.email}]
      h4 Time Taken: #{answer.time_taken}
      h4 Condition: #{answer.user.condition}
      table.table
        td #[strong Question]
        td #[strong Answer]
        tr
          td Question 1
          td= answer.answer1
        tr
          td Question 2
          td= answer.answer2
        tr
          td Question 3
          td= answer.answer3
        tr
          td Question 4
          td= answer.answer4
        tr
          td Question 5
          td= answer.answer5
        tr
          td Question 6
          td= answer.answer6
        tr
          td Question 7
          td= answer.answer7
        tr
          td Question 8
          td= answer.answer8
        tr
          td Question 9
          td= answer.answer9
        tr
          td Question 10
          td= answer.answer10
        tr
          td Question 11
          td= answer.answer11
        tr
          td Question 12
          td= answer.answer12
        tr
          td Question 13
          td= answer.answer13
        tr
          td Question 14
          td= answer.answer14
        tr
          td Question 15
          td= answer.answer15
        tr
          td Feedback 1
          td= answer.feedback1
        tr
          td Feedback 2
          td= answer.feedback2
        tr
          td Feedback 3
          td= answer.feedback3